@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* sizes */
  --height: 100%;

  /* outer margins */
  --bar-margin-y: 0rem;
  --bar-margin-x: 0rem;

  /* Taskbar integration margins */
  --process-icon-width: 50px;
  --right-margin: 1rem;
  --left-margin: 1rem;

  /* fonts */
  --font-family:
    Montserrat, "SF Pro Display", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --font-weight: 500;

  /* border */
  --border-size: 0.1rem;
  --radius: 20px;

  /* shadow */
  --shadow-size-bar: 0rem;
  --shadow-size-button: 0rem;

  /* colors */
  --text: var(--tau-text);
  --accent: var(--tau-accent);
  --bg: var(--tau-overlay);
  --muted: var(--tau-muted);
  --border: var(--tau-highlight-low);
  --shadow: var(--tau-highlight-low);
  --icon: var(--tau-love);
  --memory: var(--tau-weak);
  --cpu: var(--tau-accent);
  --cpu-high-usage: var(--tau-strong);
  --battery-good: var(--tau-weak);
  --battery-mid: var(--tau-mid);
  --battery-low: var(--tau-strong);
  --focused-process: var(--tau-text);
  --process: var(--tau-muted);
  --displayed: var(--tau-text);
  --ws-1: var(--tau-weak);
  --ws-2: var(--tau-low);
  --ws-3: var(--tau-accent);
  --ws-4: var(--tau-mid);
  --ws-5: var(--tau-strong);
  --tiling-direction: var(--tau-weak);
  --not-playing: var(--tau-love);
  --network: var(--tau-text);
  --weather: var(--tau-text);
  --volume-start: var(--tau-strong);
  --volume-end: var(--tau-accent);
  --volume-inner: var(--tau-accent);
  --bg-focused: var(--tau-highlight-high) / 0.4;
  --bg-unfocused: var(--tau-overlay) / 0.5;
}
