/* Since we're using nerdfonts only for weather icons, and the weather doesn't load offline anyway,
  it's okay to use a CDN for them. Everything else is bundled. */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "themes/rose-pine.css";
@import "themes/catppuccin.css";
@import "themes/nord.css";
@import "themes/material.css";
@import "themes/tau.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
    font-size: var(--font-size);
  }
}

.lucide-icon, .tabler-icon {
  width: 1em;
  height: 1em;
}

.nf, .tabler-icon {
  stroke-width: 6%;
  stroke: currentColor;
}
